.elementor-5 .elementor-element.elementor-element-9b07985 {
  padding: 100px 0px 100px 0px;
}
.elementor-5 .elementor-element.elementor-element-b5fdbce {
  text-align: center;
}
.elementor-5 .elementor-element.elementor-element-b5fdbce img {
  width: 39%;
}
.elementor-5
  .elementor-element.elementor-element-5ebfc3d
  .wpr-dual-heading-wrap {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-5ebfc3d
  .wpr-dual-title
  .first {
  color: #000000;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
  margin-right: 0px;
}
.elementor-5 .elementor-element.elementor-element-5ebfc3d .wpr-dual-title-wrap {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-5ebfc3d
  .wpr-dual-title
  .second {
  color: #fbc656;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
}
.elementor-5
  .elementor-element.elementor-element-5ebfc3d
  .wpr-dual-heading-description {
  color: #989898;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-5ebfc3d
  .wpr-dual-heading-icon-wrap {
  color: #605be5;
  font-size: 35px;
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-5ebfc3d
  .wpr-dual-heading-icon-wrap
  svg {
  fill: #605be5;
  width: 35px;
}
.elementor-5 .elementor-element.elementor-element-581aeb9 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-581aeb9
  .elementor-heading-title {
  color: #000000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.elementor-5 .elementor-element.elementor-element-4e4760d {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-4e4760d
  .elementor-heading-title {
  color: #000000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.elementor-5
  .elementor-element.elementor-element-c56ffc2
  > .elementor-container {
  max-width: 500px;
}
.elementor-5 .elementor-element.elementor-element-537cb10 img {
  width: 54%;
}
.elementor-5 .elementor-element.elementor-element-b807cbc img {
  width: 99%;
}
.elementor-5 .elementor-element.elementor-element-cbe0cbe img {
  width: 57%;
}
.elementor-5 .elementor-element.elementor-element-8375143 img {
  width: 61%;
}
.elementor-5
  .elementor-element.elementor-element-90d7a45:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-90d7a45
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: linear-gradient(to right, #9246f4, #23d59b);
}
.elementor-5 .elementor-element.elementor-element-90d7a45 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-5
  .elementor-element.elementor-element-90d7a45
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-90d7a45
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #ffffff;
}
.elementor-5
  .elementor-element.elementor-element-90d7a45
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
  height: 52px;
  transform: translateX(-50%) rotateY(180deg);
}
.elementor-5 .elementor-element.elementor-element-0ccbb6e img {
  border-style: none;
  border-radius: 20px 20px 20px 20px;
}
.elementor-5
  .elementor-element.elementor-element-0ccbb6e:not(.elementor-widget-image)
  .elementor-widget-container {
  -webkit-mask-size: 108%;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-5
  .elementor-element.elementor-element-0ccbb6e.elementor-widget-image
  .elementor-widget-container
  img {
  -webkit-mask-size: 108%;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-5
  .elementor-element.elementor-element-0283815
  .wpr-dual-heading-wrap {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-0283815
  .wpr-dual-title
  .first {
  color: #000000;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
  margin-right: 0px;
}
.elementor-5 .elementor-element.elementor-element-0283815 .wpr-dual-title-wrap {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-0283815
  .wpr-dual-title
  .second {
  color: #ffffff;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
}
.elementor-5
  .elementor-element.elementor-element-0283815
  .wpr-dual-heading-description {
  color: #989898;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-0283815
  .wpr-dual-heading-icon-wrap {
  color: #605be5;
  font-size: 35px;
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-0283815
  .wpr-dual-heading-icon-wrap
  svg {
  fill: #605be5;
  width: 35px;
}
.elementor-5 .elementor-element.elementor-element-aa34a1f {
  text-align: justify;
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #2c1208;
  border-color: #e8e8e8;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.5);
  border-style: none;
  border-radius: 10px 10px 10px 10px;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  padding: 10px 10px 10px 10px;
}
.elementor-5
  .elementor-element.elementor-element-ec78506
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-5
  .elementor-element.elementor-element-ec78506
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-5
  .elementor-element.elementor-element-ec78506
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-5
  .elementor-element.elementor-element-ec78506
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button-wrap {
  max-width: 160px;
}
.elementor-5 .elementor-element.elementor-element-ec78506 {
  text-align: center;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #fbd4cc;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button-icon {
  font-size: 18px;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button-icon svg {
  width: 18px;
  height: 18px;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #fbd4cc;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #fbd4cc;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button-text,
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button::after {
  font-family: "DynaPuff", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.elementor-5
  .elementor-element.elementor-element-ec78506
  [class*="elementor-animation"]:hover,
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button::before,
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button::after {
  background-color: #a54a3d;
}
.elementor-5 .elementor-element.elementor-element-ec78506 .wpr-button:hover {
  border-color: #e8e8e8;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-style-inline
  .wpr-button {
  padding: 10px 10px 10px 10px;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 10px 10px 10px 10px;
}
.elementor-5
  .elementor-element.elementor-element-ec78506.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 10px 10px 10px 10px;
}
.elementor-5 .elementor-element.elementor-element-f3236de {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 100px 0px;
}
.elementor-5
  .elementor-element.elementor-element-f3236de
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-f3236de
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #fbc656;
}
.elementor-5
  .elementor-element.elementor-element-f3236de
  > .elementor-shape-bottom
  svg {
  width: calc(139% + 1.3px);
  height: 109px;
  transform: translateX(-50%) rotateY(180deg);
}
.elementor-5 .elementor-element.elementor-element-91c9c7b img {
  width: 100%;
}
.elementor-5
  .elementor-element.elementor-element-f694ce0
  > .elementor-element-populated {
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-d688f3a
  .wpr-dual-heading-wrap {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-d688f3a
  .wpr-dual-title
  .first {
  color: #000000;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
  margin-right: 0px;
}
.elementor-5 .elementor-element.elementor-element-d688f3a .wpr-dual-title-wrap {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-d688f3a
  .wpr-dual-title
  .second {
  color: #fbc656;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
}
.elementor-5
  .elementor-element.elementor-element-d688f3a
  .wpr-dual-heading-description {
  color: #989898;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-d688f3a
  .wpr-dual-heading-icon-wrap {
  color: #605be5;
  font-size: 35px;
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-d688f3a
  .wpr-dual-heading-icon-wrap
  svg {
  fill: #605be5;
  width: 35px;
}
.elementor-5 .elementor-element.elementor-element-1994467 {
  text-align: justify;
  color: #000000;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
}
.elementor-5
  .elementor-element.elementor-element-6e1e910:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-6e1e910
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: linear-gradient(to right, #9246f4, #23d59b);
}
.elementor-5 .elementor-element.elementor-element-6e1e910 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 100px 0px;
}
.elementor-5
  .elementor-element.elementor-element-6e1e910
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-2077f56
  .wpr-dual-heading-wrap {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-2077f56
  .wpr-dual-title
  .first {
  color: #000000;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 70px;
  font-weight: 700;
  border-style: none;
  margin-right: 0px;
}
.elementor-5 .elementor-element.elementor-element-2077f56 .wpr-dual-title-wrap {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-2077f56
  .wpr-dual-title
  .second {
  color: #0bb6ff;
  border-color: #000;
  font-family: "DynaPuff", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  border-style: none;
}
.elementor-5
  .elementor-element.elementor-element-2077f56
  .wpr-dual-heading-description {
  color: #989898;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-2077f56
  .wpr-dual-heading-icon-wrap {
  color: #605be5;
  font-size: 35px;
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-2077f56
  .wpr-dual-heading-icon-wrap
  svg {
  fill: #605be5;
  width: 35px;
}
.elementor-5
  .elementor-element.elementor-element-1ca33b0
  > .elementor-element-populated,
.elementor-5
  .elementor-element.elementor-element-1ca33b0
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-5
  .elementor-element.elementor-element-1ca33b0
  > .elementor-background-slideshow {
  border-radius: 20px 20px 20px 20px;
}
.elementor-5
  .elementor-element.elementor-element-1ca33b0
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-1ca33b0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-93008d1 .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-93008d1 .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-93008d1 .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-93008d1 .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-93008d1
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-f9920de .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-f9920de .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-f9920de .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-f9920de .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-f9920de
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-de605d5 .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-de605d5 .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-de605d5 .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-de605d5 .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-de605d5
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-1c1413c .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-1c1413c .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-1c1413c .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-1c1413c .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-1c1413c
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-e61585c .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-e61585c .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-e61585c .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-e61585c .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-e61585c
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-3908e2b img {
  width: 100%;
  height: 189px;
}
.elementor-5
  .elementor-element.elementor-element-3908e2b
  > .elementor-widget-container {
  padding: 50px 0px 0px 0px;
}
.elementor-5 .elementor-element.elementor-element-91f51a4 .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-91f51a4 .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-91f51a4 .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-91f51a4 .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-91f51a4
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-b133fa8 img {
  width: 100%;
  height: 295px;
}
.elementor-5
  .elementor-element.elementor-element-b133fa8
  > .elementor-widget-container {
  padding: 50px 0px 0px 0px;
}
.elementor-5 .elementor-element.elementor-element-a787faf .wpr-flip-box {
  height: 350px;
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-a787faf .wpr-flip-box-item {
  border-radius: 83px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-overlay {
  border-radius: 83px;
}
.elementor-5 .elementor-element.elementor-element-a787faf .wpr-flip-box-front {
  background-color: #2c1208;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-front
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #fbc656;
  font-size: 40px;
  margin-bottom: 7px;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #fbc656;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.elementor-5 .elementor-element.elementor-element-a787faf .wpr-flip-box-back {
  background-color: #a54a3d;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-back
  .wpr-flip-box-content {
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin: 0 0 12px;
}
.elementor-5
  .elementor-element.elementor-element-a787faf
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-family: "DynaPuff", Sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.elementor-5
  .elementor-element.elementor-element-5ec9cb5
  > .elementor-container {
  max-width: 500px;
}
.elementor-5 .elementor-element.elementor-element-5a1e581 img {
  width: 54%;
}
.elementor-5 .elementor-element.elementor-element-647b112 img {
  width: 99%;
}
.elementor-5 .elementor-element.elementor-element-d1a71a0 img {
  width: 57%;
}
.elementor-5 .elementor-element.elementor-element-685c39d img {
  width: 61%;
}
.elementor-5
  .elementor-element.elementor-element-e90344b.wpr-stt-btn-align-fixed-right
  .wpr-stt-btn {
  right: 30px;
  bottom: 30px;
}
.elementor-5 .elementor-element.elementor-element-e90344b .wpr-stt-content {
  color: #ffffff;
}
.elementor-5 .elementor-element.elementor-element-e90344b .wpr-stt-icon {
  color: #ffffff;
  font-size: 14px;
}
.elementor-5 .elementor-element.elementor-element-e90344b .wpr-stt-icon svg {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}
.elementor-5 .elementor-element.elementor-element-e90344b .wpr-stt-btn {
  background-color: #000000;
  transition: all 0.3s ease-in-out 0s;
  padding: 15px 15px 15px 15px;
  border-radius: 2px 2px 2px 2px;
}
.elementor-5
  .elementor-element.elementor-element-e90344b
  .wpr-stt-btn:hover
  > .wpr-stt-icon {
  color: #fff;
}
.elementor-5 .elementor-element.elementor-element-e90344b .wpr-stt-btn:hover {
  background-color: #fbc656;
}
body.elementor-page-5:not(.elementor-motion-effects-element-type-background),
body.elementor-page-5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .elementor-5
    .elementor-element.elementor-element-4e4760d
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-5
    .elementor-element.elementor-element-aa5b796
    > .elementor-element-populated {
    padding: 100px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-5 .elementor-element.elementor-element-b5fdbce img {
    width: 100%;
  }
  .elementor-5
    .elementor-element.elementor-element-5ebfc3d
    .wpr-dual-title
    .first {
    font-size: 50px;
  }
  .elementor-5
    .elementor-element.elementor-element-5ebfc3d
    .wpr-dual-title
    .second {
    font-size: 50px;
  }
  .elementor-5
    .elementor-element.elementor-element-4e4760d
    .elementor-heading-title {
    font-size: 13px;
  }
  .elementor-5 .elementor-element.elementor-element-0700a91 {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-2800d10 {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-7f9b763 {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-d6b14ac {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-0ccbb6e {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-0283815
    .wpr-dual-title
    .first {
    font-size: 40px;
  }
  .elementor-5
    .elementor-element.elementor-element-0283815
    .wpr-dual-title
    .second {
    font-size: 50px;
  }
  .elementor-5 .elementor-element.elementor-element-3af75ce {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-91c9c7b img {
    width: 100%;
    height: 282px;
    object-fit: cover;
    object-position: center center;
  }
  .elementor-5
    .elementor-element.elementor-element-f694ce0
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-d688f3a
    .wpr-dual-title
    .first {
    font-size: 40px;
  }
  .elementor-5
    .elementor-element.elementor-element-d688f3a
    .wpr-dual-title
    .second {
    font-size: 50px;
  }
  .elementor-5
    .elementor-element.elementor-element-2077f56
    .wpr-dual-title
    .first {
    font-size: 40px;
  }
  .elementor-5
    .elementor-element.elementor-element-2077f56
    .wpr-dual-title
    .second {
    font-size: 50px;
  }
  .elementor-5 .elementor-element.elementor-element-3908e2b img {
    height: 284px;
  }
  .elementor-5 .elementor-element.elementor-element-0c64aad {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-a9d78ff {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-b04ef4f {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-5371686 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .elementor-5 .elementor-element.elementor-element-d8983eb {
    width: 42.246%;
  }
  .elementor-5 .elementor-element.elementor-element-650dfa5 {
    width: 33.348%;
  }
  .elementor-5 .elementor-element.elementor-element-6920f77 {
    width: 45.447%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5 .elementor-element.elementor-element-d8983eb {
    width: 30%;
  }
  .elementor-5 .elementor-element.elementor-element-650dfa5 {
    width: 40%;
  }
  .elementor-5 .elementor-element.elementor-element-6920f77 {
    width: 30%;
  }
}
